<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RegistrationForm</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="static/assets/fonts/linearicons/style.css">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="static/assets/css/style.css">
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<img src="static/assets/images/image-1.png" alt="" class="image-1">
				<form action="/signup" method="GET">
					<h3>New Account?</h3>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" name="user" class="form-control" placeholder="Username" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" name="name" class="form-control" placeholder="Name" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input type="text" name="email" class="form-control" placeholder="Mail" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-phone-handset"></span>
						<input type="text" name="mobile" class="form-control" placeholder="Phone Number" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" name="password" class="form-control" placeholder="Password" required>
					</div>
					
					<button type="submit">
						<span>Register</span>
					</button>
					<br><br>
					<p style="font-size: large;">Already have an account? <a href="/login">Sign in</a></p>
				</form>
				<img src="static/assets/images/image-2.png" alt="" class="image-2">
			</div>
			
		</div>
		
		<script src="static/assets/js/jquery-3.3.1.min.js"></script>
		<script src="static/assets/js/main.js"></script>
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>